USE [master]
GO
CREATE DATABASE [Colegio] ON  PRIMARY 
( NAME = N'Colegio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Colegio.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Colegio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Colegio_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Colegio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Colegio]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Curso](
	[Idcurso] [int] NOT NULL,
	[Idmateria] [int] NULL,
	[Idprofesor] [int] NULL,
	[Idestudiante] [int] NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[Idcurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Estudiantes](
	[Idestudiante] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Curso] [varchar](50) NULL,
	[Edad] [datetime] NULL,
	[Idcurso] [int] NULL,
	[Idmaterias] [int] NULL,
	[Idprofesores] [int] NULL,
 CONSTRAINT [PK_Estudiantes] PRIMARY KEY CLUSTERED 
(
	[Idestudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Materias](
	[Idmateria] [int] NOT NULL,
	[Idestudiante] [int] NULL,
	[Idprofesor] [int] NULL,
 CONSTRAINT [PK_Materias] PRIMARY KEY CLUSTERED 
(
	[Idmateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Profesores](
	[Idprofesor] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Materia] [varchar](50) NULL,
 CONSTRAINT [PK_Profesores] PRIMARY KEY CLUSTERED 
(
	[Idprofesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Materias] FOREIGN KEY([Idmateria])
REFERENCES [Materias] ([Idmateria])
GO
ALTER TABLE [Curso] CHECK CONSTRAINT [FK_Curso_Materias]
GO
ALTER TABLE [Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Materias1] FOREIGN KEY([Idmateria])
REFERENCES [Materias] ([Idmateria])
GO
ALTER TABLE [Curso] CHECK CONSTRAINT [FK_Curso_Materias1]
GO
ALTER TABLE [Estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_Estudiantes_Curso] FOREIGN KEY([Idcurso])
REFERENCES [Curso] ([Idcurso])
GO
ALTER TABLE [Estudiantes] CHECK CONSTRAINT [FK_Estudiantes_Curso]
GO
ALTER TABLE [Estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_Estudiantes_Materias] FOREIGN KEY([Idestudiante])
REFERENCES [Materias] ([Idmateria])
GO
ALTER TABLE [Estudiantes] CHECK CONSTRAINT [FK_Estudiantes_Materias]
GO
ALTER TABLE [Estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_Estudiantes_Materias1] FOREIGN KEY([Idmaterias])
REFERENCES [Materias] ([Idmateria])
GO
ALTER TABLE [Estudiantes] CHECK CONSTRAINT [FK_Estudiantes_Materias1]
GO
ALTER TABLE [Materias]  WITH CHECK ADD  CONSTRAINT [FK_Materias_Profesores] FOREIGN KEY([Idprofesor])
REFERENCES [Profesores] ([Idprofesor])
GO
ALTER TABLE [Materias] CHECK CONSTRAINT [FK_Materias_Profesores]
GO
USE [master]
GO
